<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성</title>
</head>
<body>
<form class="form-area" method="post" action="/new/">
    {% csrf_token %}
    <div class="form-group mt-2 mb-2">
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="form-group mt-2 mb-2">
        <input type="text" class="form-control" id="content" name="content">
    </div>
    <div class="form-group mt-2 mb-2">
        <select id="category" name="category">
            {% for ca in category %}
            <option>{{ ca.category_name }}</option>
            {% endfor %}
        </select>
    </div>
    <hr>
    <div style="float: right">
        <button type="submit" class="btn btn-primary">게시물 작성</button>
    </div>
</form>
</body>
</html>